#startScreen{
	position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    background-color:#aec3e5;
    text-align: center; 
}

.startImage{
	cursor: pointer;
}

body {
	background-image: url(../images/map.jpg);
	font-family: "Comic Sans MS", sans-serif;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

.container {
	text-align: center;
	background-color: #ff9028;
	margin-top: 60px;
	margin-bottom: 60px;
	width: 60%;
}
.question1,
.question2,
.question3,
.endScreen, {
	
}

h1 {
	font-size: 60px;
	
}

p {
	font-size: 22px;
}

#image {
	padding: 15px;
}

.answers:hover{
	color: white;
}

#gif{
	padding: 15px;
}