body {
	background-image: url(../images/map.jpg);
}

.container {
	text-align: center;
	background-color: #ff9028;
	/*white;*/
	margin-top: 60px;
	margin-bottom: 60px;
	width: 60%;
}

h1 {
	font-size: 60px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

h2{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

h3{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

p {
	font-size: 22px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#image {
	padding: 15px;
}

.answers:hover{
	color: white;
}

#gif{
	padding: 15px;
}